
@media (max-width:700px){
.card {
    position: fixed;
    top: 0;
    right: -400%; 
    width: 300px;
    height: 100vh;
    background: white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    padding: 20px;
    z-index: 1000;
}

.card.open{
    right: 0;
}

.no-scroll {
    overflow: hidden;
}

.food_description p    {
    font-size: 15px;
}
.close-button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    padding: 15px 30px;
    background-color: rgb(242, 162, 242);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1100;
}
.shopping_card.open {
    right: 0;
}

    main {
        width: 100%;
    }

    .menu {
        width: 100%;
        max-width: 100vw;
    }

#cart {
    position: fixed;
    top: 0;
    right: -300%; 
    width: 300px; 
    height: 100vh;
    background: white;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
}

#cart.open {
    right: 0; 
}

.no-scroll {
    overflow: hidden; 
}
}

@media(max-width:350px){

    .food_categorys {

        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        width: 90%;
    }
    
}

@media (min-width: 700px) {
    .fixed-button {
        display: none;   
    }
}